
.banner {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: 
    linear-gradient(90.93deg, #032D5F 18.18%, rgba(9, 18, 66, 0.2) 64.92%),
    url('./images/aboutbg.png');

}
.pricingsubtext p{
    color:white;
    border-left: 3px solid  #FFB629;
    background-color: rgba(232, 232, 232, 0.5);
    white-space: nowrap;
    display: inline-block;


}
.faqtext .whyusbox p,.abouttext .whyusbox p,.subtext p{
     color:black;
    border-left: 3px solid  #FFB629;
    background-color: rgba(232, 232, 232, 0.5);
    white-space: nowrap;
    display: inline-block;

}
.maintext p{
font-family: 'Rubik',sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 60px;
color: white;
line-height: 100%;
letter-spacing: 0%;
}
 .faqtext .aboutheading p,.abouttext .aboutheading p{
font-family: 'Rubik',sans-serif;
font-weight: 600;
font-style: Bold;
font-size: 35px;
color: black;
line-height: 100%;
letter-spacing: 0%;
width: 308px;

}
.banner-text{
    z-index: 1000;
    position: absolute;
    top: 150px;
    left: 200px;
}
.abouttext{
    display: flex;
    flex-direction: column;
    gap:30px;
     padding:20px 50px 20px 30px;
     box-sizing: border-box;
}
.about-about{
   padding: 100px 80px 20px 80px;
}
.about{
    display: flex;
    flex-direction: row;
    
}

.buttongroup{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.yellowbuttonblack,.yellowbuttonwhite{
    width:auto;
    padding:10px 10px 10px 10px;
    height:50px;
    background: rgba(244, 244, 244, 1);
    border:none;
    color:black;
;
}
.yellowbuttonwhite{
    color: white;
     background-color:  rgba(255, 184, 43, 1);
}
.content p{
 font-family: 'Krub',sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 16px;
color: rgba(102, 108, 137, 1);

line-height: 152%;
letter-spacing: 0%;

}
/* services section */
.about-services{
    background: rgba(244, 244, 244, 1);
    padding: 10px 10px 10px 10px;



}
.aboutservicescontent{
    padding: 20px 250px 100px 250px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:60px;
        text-align: center;
}
/* .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
} */
.titlemaintext p{
   font-family: 'Rubik',sans-serif;
font-weight: 600;
font-style: SemiBold;
font-size: 35px;
color:black;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}
.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;
}
.s1{
    display: flex;
    flex-direction: column;
}
.s1 p{
    font-family: 'Rubik',sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 25px;
color: rgba(28, 31, 53, 1);

line-height: 100%;
letter-spacing: 0%;

}
.servicelabel p{
 font-family: 'Krub',sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 16px;
color:rgba(102, 108, 137, 1);
line-height: 152%;
letter-spacing: 0%;

}



/* testimonial section */
.abouttestimonial{
    background-color: rgba(244, 244, 244, 1);
    width: 100%;
    height:auto;
     margin:0px;
     display: flex;
     flex-direction: column;
     gap:100px;
     
}

.title-subtext{
     
      background-color:rgba(232, 232, 232, 0.5);
      display: inline-block;
}

.aboutbody .user1{
    padding:10px 100px 100px 100px;
    box-sizing: border-box;
}
.aboutbody .user2{
    background-color: rgba(244, 244, 244, 1);
     padding:10px 100px 100px 20px;
     box-sizing: border-box;

}
.aboutbody .user2 .review{
    background-color: rgba(9, 18, 66, 1);
    gap:5px;
   

}
.aboutbody .user1 .review{
    
    gap:5px;
   

}

.aboutbody .title{
   
    padding-left:100px;
    padding-top:100px;
    
    box-sizing: border-box;
   
}
.aboutservicescontent .title{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.aboutbody .title-subtext{
     text-align: center;
      background-color:rgba(232, 232, 232, 0.5);
      display: inline-block;
}
.aboutbody .title-subtext p{
font-family: 'Rubik',sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
border-left: 3px solid #FFB629;
text-align: left;
}
.aboutbody .title-heading p{
height: 41px;
opacity: 1;
font-family: 'Rubik',sans-serif;
font-weight: 600;
font-style: SemiBold;
font-size: 35px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(28, 31, 53, 1);
}
.aboutbody .testimonial-title{
   display: flex;
  flex-direction: row;
gap:800px;

   
}
.aboutbody .testimonial-icon{
    display: flex;
    justify-content: end; 
   
}
.aboutbody .about{
    overflow-x: hidden;
    max-width: 100%;
}


.clientimage img,.copyright{
    overflow-x: hidden;
    max-width: 100%;
}

@media(max-width:1439px){


  .aboutbody .user {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    overflow-x: hidden;
    max-width:100%;
   
  }

  .aboutbody .user1,.aboutbody .user2 {
    width: 100%;
    max-width: 600px;
    padding: 30px;
  }

  .aboutbody .smithreview {
    text-align: justify;
  }
  .aboutbody .testimonial-title {
   display: none;
  }
}
@media(max-width:930px){
    .aboutimage{
        display: none;
    }
    
}
@media(max-width:768px){
    .service-grid{
         grid-template-columns: 1fr ;
    }
    .about{
        display: flex;
        flex-direction: column;
    }

}
@media(max-width:500px){
    .aboutservicescontent{
    padding: 0px 0px 0px 0px;    
    }
    .aboutbody .banner .banner-text{
        position:static;
        /* display: none; */
    }
}

@media(max-width:500px){
    .aboutservicescontent{
    padding: 0px 0px 0px 0px;
      
      
}
}
@media (max-width: 395px) {
  .navbar {
    display: none;
  }
}